$colors: (
  'light-grey': hsl(0, 0%, 75%),
  'grey': hsl(0, 0%, 50%),
  'dark-grey': hsl(0, 0%, 25%),
  'dark': hsl(0, 0%, 10%),
  'light': hsl(0, 0%, 90%),
  'black': black,
  'white': white,
  'brand-dark': #041f4a,
  'brand-main': #052962,
  'brand-pastel': #506991,
  'highlight-main': #ffe500,
  'highlight-dark': #ffbb50,
  'news-dark': #ab0613,
  'news-main': #c70000,
  'news-bright': #ff4e36,
  'opinion-bright': #ff7f0f,
  'sport-bright': #00b2ff,
  'culture-bright': #eacca0,
  'lifestyle-bright': #ffabdb,
  'brightness-7': #121212,
  'brightness-86': #dcdcdc,
  'brightness-97': #f6f6f6,
  'brightness-100': #ffffff,
);

$step--2: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
$step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
$step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
$step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
$step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
$step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
$step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
$step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: 'Times New Roman', Times, serif;
