@use './variables.scss' as *;
@use './breakpoints.scss' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// -------------------------------------------
// General
// -------------------------------------------

body {
  color: map-get($map: $colors, $key: 'brightness-7');
  background-color: map-get($map: $colors, $key: 'brightness-100');
  font-family: $font-primary;
  min-height: 100%;
}

li {
  list-style: none;
}

.btn {
  padding: 0.375em 0.875em;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: map-get($map: $colors, $key: 'highlight-main');
  cursor: pointer;

  &:hover {
    background-color: map-get($map: $colors, $key: 'highlight-dark');
    transition: 1s;
  }

  &--white {
    background-color: map-get($map: $colors, $key: 'brightness-97');

    &:hover {
      background-color: map-get($map: $colors, $key: 'brightness-97');
    }
  }
}

.fa-quote-left {
  color: map-get($map: $colors, $key: 'opinion-main');
}

.opinion-author {
  color: map-get($map: $colors, $key: 'opinion-main');
  font-style: italic;
}
// -------------------------------------------
// Utility
// -------------------------------------------

.width-100 {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.hide-screen {
  display: none;

  @include lg {
    display: block;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

// -------------------------------------------
// Components
// -------------------------------------------

// Navigation
// -------------------------------------------

.top-nav {
  background-color: map-get($map: $colors, $key: 'brand-dark');
  color: map-get($map: $colors, $key: 'brightness-100');
  font-size: 1rem;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 6rem;

    @include lg {
      justify-content: flex-end;
    }
  }

  &__link-flex {
    display: flex;
    align-items: center;
  }

  &__link-item {
    padding: 0.5rem 0.375rem;
  }

  &__link {
    color: map-get($map: $colors, $key: 'brightness-100');

    &:hover {
      text-decoration: underline;
    }

    &--print {
      color: map-get($map: $colors, $key: 'highlight-main');

      &:hover {
        text-decoration: underline;
      }
    }

    &--edition {
      color: map-get($map: $colors, $key: 'brightness-100');
      padding-right: 0.5em;

      &:hover {
        color: map-get($map: $colors, $key: 'highlight-main');
      }
    }
  }

  &__icon {
    width: 1.125rem;
    height: 1.125rem;
    fill: map-get($map: $colors, $key: 'brightness-100');
    margin-right: 0.25rem;

    &--print {
      fill: map-get($map: $colors, $key: 'highlight-main');
      width: 1.125rem;
      height: 1.125rem;
      margin-right: 0.25rem;
    }
  }

  &__separator {
    display: none;
    width: 1px;
    height: 1.5rem;
    background-color: map-get($map: $colors, $key: 'brand-pastel');
    align-self: flex-start;

    @include lg {
      display: inline-block;
    }
  }

  & a {
    text-decoration: none;
  }
}

.top-banner {
  background-color: map-get($map: $colors, $key: 'brand-main');
  color: map-get($map: $colors, $key: 'brightness-100');
  width: 100%;

  h2 {
    color: map-get($map: $colors, $key: 'highlight-main');
    font-size: $step-2;
    line-height: 1.15;
    font-weight: bold;
    font-family: $font-secondary;
  }

  &__left {
    padding-left: 1.25rem;

    @include lg {
      align-self: flex-start;
    }
  }

  &__text {
    font-family: $font-secondary;
    font-size: $step--1;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.25rem;
  }
}

.top-banner-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  border-top: 1px solid map-get($map: $colors, $key: 'brand-pastel');
  border-left: 1px solid map-get($map: $colors, $key: 'brand-pastel');
  border-right: 1px solid map-get($map: $colors, $key: 'brand-pastel');

  &--footer {
    border-bottom: 1px solid map-get($map: $colors, $key: 'brand-pastel');
    padding-bottom: 1rem;
    margin-top: 0;
  }

  &__separator {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: map-get($map: $colors, $key: 'brand-pastel');

    @include sm {
      height: 1.75rem;
    }
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0px;

    &--news {
      background-color: map-get($map: $colors, $key: 'news-bright');
      height: 4px;
    }

    &--opinion {
      background-color: map-get($map: $colors, $key: 'opinion-bright');
    }

    &--sport {
      background-color: map-get($map: $colors, $key: 'sport-bright');
    }

    &--culture {
      background-color: map-get($map: $colors, $key: 'culture-bright');
    }

    &--lifestyle {
      background-color: map-get($map: $colors, $key: 'lifestyle-bright');
    }
  }

  & li {
    position: relative;
    padding-top: 0.25em;
    padding-bottom: 0.375em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;

    @include sm {
      font-size: 1.25rem;
    }

    @include md {
      font-size: 1.5rem;
    }

    @include lg {
      width: 10.25rem;
      font-size: 1.5rem;
    }

    &:hover .top-banner-nav__bar {
      transition: height 0.25s linear;
      height: 4px;
    }
  }

  & li:first-of-type {
    @include lg {
      padding-left: 1.25rem;
    }
  }

  & a {
    font-family: $font-secondary;
    font-weight: bold;
    color: map-get($map: $colors, $key: 'brightness-100');
    text-decoration: none;
  }

  &__more {
    font-family: $font-secondary;
    cursor: pointer;

    &:hover {
      color: map-get($map: $colors, $key: 'highlight-main');
    }
  }
}

.nav-topics {
  display: flex;
  overflow: scroll;
  gap: 0.675rem;
  padding: 0.5rem 1rem;
  border: 1px solid map-get($map: $colors, $key: 'brightness-86');
  border-bottom: none;

  @include sm {
    padding: 0.75rem 1rem;
  }

  a {
    color: map-get($map: $colors, $key: 'brightness-7');
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;

    &:hover {
      color: map-get($map: $colors, $key: 'news-bright');
    }
  }

  &__border {
    width: 100%;
    height: 0.8rem;
    border-inline: 1px solid map-get($map: $colors, $key: 'brightness-86');
    background-image: repeating-linear-gradient(
      to bottom,
      map-get($map: $colors, $key: 'brightness-86'),
      map-get($map: $colors, $key: 'brightness-86') 0.0625rem,
      transparent 0.0625rem,
      transparent 0.25rem
    );
  }
}

// Sections
// -------------------------------------------

.section-grid {
  display: grid;
  grid-template-columns: 1;
  padding-bottom: 1rem;

  @include lg {
    grid-template-columns: 170px 1fr;
    border-inline: 1px solid map-get($map: $colors, $key: 'brightness-86');
    border-bottom: 1px solid map-get($map: $colors, $key: 'brightness-86');
  }
}

.section-title {
  font-family: $font-secondary;
  font-size: 1.75rem;
  padding: 0.25rem 1rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__sep {
    display: none;
    width: 1px;
    height: 2rem;
    background-color: map-get($map: $colors, $key: 'brightness-86');

    @include md {
      display: inline-block;
    }
  }
}

// Grids
// -------------------------------------------

.grid-large {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.625rem;
  padding: 0.5rem;

  @include md {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    padding: 0.5rem 0;
  }

  @include lg {
    margin-top: 2rem;
    padding: 0.5rem 0;
  }

  &--headline {
    @include lg {
      margin-top: 0;
    }
  }

  &__block {
    display: grid;
    grid-template-rows: 4;
    gap: 0.75rem;

    @include md {
      grid-row: 2 / 3;
      padding-inline: 0.625rem;
      border-inline: 1px solid map-get($map: $colors, $key: 'brightness-86');
    }
  }
}

.grid-small {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.625rem;
  padding: 0.5rem;

  @include md {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem 0;
  }

  @include lg {
    margin-top: 2rem;
    padding: 0.5rem 0;
  }
}

// Cards
// -------------------------------------------

.card,
.card-large,
.card-small {
  text-decoration: none;
  color: map-get($map: $colors, $key: 'brightness-7');
}

.card-large {
  @include md {
    grid-column: 1 / 3;
    border-right: 1px solid map-get($map: $colors, $key: 'brightness-86');
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    background-color: map-get($map: $colors, $key: 'brightness-97');
    border-top: 1px solid map-get($map: $colors, $key: 'news-dark');

    @include md {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1;
      margin-inline: 0.625rem;
      height: 100%;
    }
  }

  & img {
    width: 100%;
  }

  &__text {
    line-height: 1;
    font-size: 1.5rem;
    font-family: $font-secondary;
    padding: 0 0.25rem;

    @include md {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__sep,
  &__topic {
    font-weight: bold;
    color: map-get($map: $colors, $key: 'news-dark');
  }

  &__sep {
    margin-left: 0.25em;
  }
}

.card {
  @include md {
    padding-inline: 0.625rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: 1px solid map-get($map: $colors, $key: 'news-dark');
    background-color: map-get($map: $colors, $key: 'brightness-97');
    padding-top: 0.25rem;

    @include md {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-top: 0;
    }
  }

  & img {
    width: 100%;
  }

  &__text {
    line-height: 1;
    font-size: 1.25rem;
    font-family: $font-secondary;
    color: map-get($map: $colors, $key: 'brightness-7');
    padding: 0 0.25rem;

    @include md {
      font-size: 1.5rem;
    }
  }

  &__sep,
  &__topic {
    font-weight: bold;
    color: map-get($map: $colors, $key: 'news-dark');
  }

  &-3 {
    @include md {
      padding-right: 0.625rem;
      border-right: 1px solid map-get($map: $colors, $key: 'brightness-86');
    }
  }

  &-s {
    @include md {
      padding-right: 0.625rem;
      border-right: 1px solid map-get($map: $colors, $key: 'brightness-86');
    }
  }
}

.card-small {
  background-color: map-get($map: $colors, $key: 'brightness-97');
  border-top: 1px solid map-get($map: $colors, $key: 'news-dark');

  @include md {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  & img {
    width: 100%;
    display: none;

    @include md {
      display: inline-block;
    }
  }

  &__text {
    line-height: 1;
    font-size: 1.25rem;
    font-family: $font-secondary;
    color: map-get($map: $colors, $key: 'brightness-7');
    padding: 0 0.25rem;

    @include md {
      font-size: 1.5rem;
    }
  }

  &__sep,
  &__topic {
    font-weight: bold;
    color: map-get($map: $colors, $key: 'news-dark');
  }
}

.footer-wrapper {
  color: map-get($map: $colors, $key: 'brightness-97');
  background-color: map-get($map: $colors, $key: 'brand-main');
}

.footer-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid map-get($map: $colors, $key: 'brand-pastel');

  @include md {
    grid-template-columns: 1fr 1fr 1fr 1.85fr;
    padding-inline: 1rem;
  }

  @include xl {
    grid-template-columns: 312px 1fr 1fr 1fr 1.85fr;
    padding-inline: 1rem;
    border-inline: 1px solid map-get($map: $colors, $key: 'brand-pastel');
  }
}

.footer-signup {
  padding: 1rem 0.5rem;
  grid-column: 1 / -1;

  @include xl {
    grid-column: 1;
    border-right: 1px solid map-get($map: $colors, $key: 'brand-pastel');
  }
}

.footer-text {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footer-links {
  & li {
    padding: 0.375rem;
  }

  & a {
    color: map-get($map: $colors, $key: 'brightness-97');
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      color: map-get($map: $colors, $key: 'highlight-main');
    }
  }

  &__1 {
    border-right: 1px solid map-get($map: $colors, $key: 'brand-pastel');
    border-top: 1px solid map-get($map: $colors, $key: 'brand-pastel');

    @include xl {
      border-top: none;
    }
  }

  &__2 {
    grid-row: 3;
    border-right: 1px solid map-get($map: $colors, $key: 'brand-pastel');

    @include md {
      border-top: 1px solid map-get($map: $colors, $key: 'brand-pastel');
      grid-row: 2;
      grid-column: 3;
    }

    @include xl {
      border-top: none;
      grid-row: 1;
      grid-column: 4;
    }
  }

  &__3 {
    border-top: 1px solid map-get($map: $colors, $key: 'brand-pastel');

    @include md {
      border-right: 1px solid map-get($map: $colors, $key: 'brand-pastel');
    }

    @include xl {
      border-top: none;
    }
  }
}

.footer-support {
  border-top: 1px solid map-get($map: $colors, $key: 'brand-pastel');
  margin-inline: 0.5rem;
  padding: 0.5rem 0;

  @include md {
    border-top: 1px solid map-get($map: $colors, $key: 'brand-pastel');
    grid-row: 2;
    grid-column: 4;
    margin-inline: 0rem;
    padding: 0.5rem 0.5rem;
  }

  @include xl {
    border-top: none;
    grid-row: 1;
    grid-column: 5;
  }

  &__title {
    font-family: $font-secondary;
    font-size: 1.375rem;
    font-weight: bold;
    color: map-get($map: $colors, $key: 'highlight-main');
    margin-bottom: 0.25rem;
  }
}

.footer-bottom {
  height: 2rem;
  width: 100%;
}

.back-to-top {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -2rem;
  right: 2rem;
  padding: 0.5rem;
  background-color: map-get($map: $colors, $key: 'brand-main');
  text-decoration: none;

  &:hover &__text {
    color: map-get($map: $colors, $key: 'highlight-main');
  }

  &:hover &__icon {
    background-color: map-get($map: $colors, $key: 'highlight-main');
  }

  &__text {
    font-weight: bold;
    color: map-get($map: $colors, $key: 'brightness-97');
  }

  &__icon {
    display: grid;
    place-items: center;
    margin-left: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: map-get($map: $colors, $key: 'brightness-97');
  }
}
